@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800&display=swap');


* {
    margin: 0;
    padding: 0;
    }

body {
    font-family: poppins, sans-serif;
    background-color: #F8F4F4;
}

header {
    background-color: white;
}

header > div {
    align-items: center;
    border-bottom: 1px solid lightgray ;
}

header div.line {
    width: 84%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

header div.first-line div.line {
    justify-content: space-between;
    padding: 15px 20px;
}
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

.second-line {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}

.npm-logo {
    height: 22px;
    width: 70px;
    margin: 16px 0;  
    position: relative;
    margin-right:10px;
}

.search-loupe {
    height: 20px;
    width: 20px;
    background-color: #F8F4F4;
    padding: 11px 5px 11px 15px;
    position: relative;
    display:flex;
    margin-right: 0;
}

#search {
    height: 12px;
    width: 1000px;
    background-color: #F8F4F4;
    padding: 15px;
    border: none;
    margin: 20px 0;
    display:flex;
}

.join-login-links {
    position: absolute;
    right: 140px;
}

.button-search {
    height: 42px;
    background-color: rgb(251, 62, 68);
    color: white;
    border: none;
    padding: 15px;
    margin: 20px 0;
    cursor: pointer;
}

#join-link {
    color: rgb(89, 87, 87);
    border: 1px solid rgba(89, 87, 87);
    padding: 6px 12px;
    text-decoration: none;
    margin: 20px 5px;
    font-size: 0.8em; 
    font-weight: bold;
}

#join-link:hover {
    border: 1px solid rgb(204, 177, 177, 0.7);
    color: rgb(204, 177, 177, 0.7);
}

#login-link {
    color: rgb(89, 87, 87);
    padding: 6px 12px;
    text-decoration: none;
    margin: 20px 5px;
    font-size: 0.8em; 
    font-weight: bold;
}

#login-link:hover {
    color: rgb(204, 177, 177, 0.7);
}

#header-part-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#section1 {
    background-color: #F8F4F4;
    width: 84%;
    padding: 75px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-size: 5rem;
  }

  #section1 > div {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
  }

  #section1 article {
    text-align: center;
    width: 33%;
    margin: 30px auto;
    font-size: 1.2em;
  }

 .button1 {
    position: relative;
    color: white;
    width: 200px;
    height: 30px;
    margin: 50px 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 800;
    padding: 20px;
}

.button2 {
    position: relative;
    width: 350px;
    height: 30px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 800;
    padding: 20px;
}


.red-background {
    background-color: rgb(251, 62, 68);
    box-shadow: 8px 8px 0 0 rgb(251, 62, 68,.2);
    color: white;
}

.red-background:hover {
    background-color: rgb(204, 4, 19);
    box-shadow:none;
}

.white-background {
    background-color: white;
    color: black;
}

.black-background {
    background-color: black;
    color: white;
    box-shadow: 8px 8px 0 0 rgb(128,83,35,.2);
}

.black-background:hover {
    background-color: rgb(51, 51, 51);
    box-shadow:none;
}

  #section2 {
    width: 84%;
    padding: 55px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .parallelogram {
    font-size: 2.25em;
    font-weight: 700;
    font-style: none;
    margin-top: 20px;
    background: #FFEBAE;
    text-align: center;
    padding: 0 30px;
    transform: skew(9deg,0deg);
    font-style: italic;
}

#section2 img {
    height: 230px;
    width:256px;
    margin: 0 0 50px 0;
}

#section2 article {
    width: 50%;
    text-align: center;
    margin-top: 30px;
    font-size: 1em;

  }

#section3 {
    width: 84%;
    padding: 40px 0;
    margin: 0 auto;
  }
  
#section3 img {
    height: 32px;
    width: 39px;
    margin: 0;
  }

#section3 > div {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;
  }
  
#section3 > div > article {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 270px;
    height: 180px;
    padding: 75px 0;
    margin: 0 auto;
  }

  #section3 > div > article p {
      margin-top: 20px;
  }

  .tt3 {
      color: #ED1C24;
      font-size: 0.95rem;
      font-weight: 600;
      margin-top: 8%;
      line-height: 1.5;
  }


